html, body {
    min-height: 100%;
}

table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}
td {
    color: #000000;
}


.overskrift {
    color: blue;
}
body {
    background: linear-gradient(135deg, #26c5ff,#0084ff)


}

